<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
   <meta charset="UTF-8">
   <title th:text="'CarpetaTIv3: '+${titulo}"></title>
   <!-- CSS DE LA PAGINA.......................................................... -->
      <link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
      <link rel="stylesheet" th:href="@{/css/bootstrap_cerulean.min.css}" />
      <link rel="stylesheet" th:href="@{/css/all.min.css}">
   <!-- SCRIPTS DE LA PAGINA.......................................................... -->
      <script th:src="@{/js/jquery-3.2.1.js}"></script>
      <script th:src="@{/js/popper.min.js}"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>
      <script th:src="@{/js/otros.js}"></script>
      <script th:src="@{/js/jquery-ui.js}"></script>
</head>
<body>
   <header>
      <!--  BARRA DE MENUS DE NAVEGACION............................................ -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <img th:src="@{/images/pepsi.png}" width="30" height="40" alt="">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
               
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" id="navbarDropdown1">Bitacoras</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" th:href="@{/reparaciones/listado}"><i class="fas fa-hammer"></i> Reparaciones</a>
                    <a class="dropdown-item" th:href="@{/movactivos/listado}"><i class="fas fa-book"></i> Mov de Activos</a>
                    <a class="dropdown-item" th:href="@{/siniestros/listado}"><i class="fas fa-biohazard"></i> Siniestros</a>
                  </div>   
               </li>

               <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Catalogos </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item dropdown-toggle" href="#"> <i class="fas fa-folder"></i> Otros</a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/devices/listado}"><i class="fas fa-microchip"></i> Dispositivos</a></li>
                        <li><a class="dropdown-item" th:href="@{/marcas/listado}"><i class="fas fa-boxes"></i> Marcas</a></li>
                        <li><a class="dropdown-item" th:href="@{/modelos/listado}"><i class="fas fa-cube"></i> Modelos</a></li>
                        <li><a class="dropdown-item" th:href="@{/cedis/listado}"><i class="fas fa-building"></i> Cedis</a></li>
                        <li><a class="dropdown-item" th:href="@{/puestos/listado}"><i class="fas fa-diagnoses"></i> Puestos</a></li>
                        <li><a class="dropdown-item" th:href="@{/status/listado}"><i class="fas fa-clipboard-check"></i> Status</a></li>
                        <li><a class="dropdown-item" th:href="@{/tiposproblemas/listado}"><i class="fas fa-first-aid"></i> Tipos de Daño</a></li>
                        <li><a class="dropdown-item" th:href="@{/tiposiniestros/listado}"><i class="fas fa-cart-plus"></i> Tipos de Siniestros</a></li>

                        <!--  <li><a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                           <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Subsubmenu action 1 3</a></li>
                              <li><a class="dropdown-item" href="#">Another subsubmenu action 2 3</a></li>
                           </ul></li> -->
                     </ul>

                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" th:href="@{/empleados/listado}"><i class="fas fa-address-book"></i> Empleados</a> <a class="dropdown-item"
                        th:href="@{/equipos/listado}"><i class="fas fa-desktop"></i> Equipos</a>
                  </div>
               </li>
               <li class="nav-item"><a class="nav-link disabled" href="#">Reportes</a></li>
               
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" id="navbarDropdown2">Tools</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" th:href="@{/users/listado}"><i class="fas fa-hammer"></i> Usuarios</a>
                    <a class="dropdown-item" th:href="@{/roles/listado}"><i class="fas fa-book"></i> Roles</a>
                  </div>   
               </li>
               
            </ul>
           <!--  <form class="form-inline my-2 my-lg-0">
               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
         </div>
      </nav>

      <!-- CUADROS PARA MENSAJES DE ALERTA O ACCION................................. -->
      <div th:class="'alert alert-' + ${css} + ' alert-dismissible'" th:if="${msg != null}" role="alert">
         <button type="button" class="close" aria-label="Close" data-dismiss="alert">
            <span aria-hidden="true">x</span>
         </button>
         <strong th:text="${msg}"></strong>
      </div>
   </header>

   <!-- CONTENIDO EDITABLE.......................................................... -->
   <div layout:fragment="content" class="container py-4"></div>

   <!--  PIE DE PAGINA............................................................... -->
   <footer class="container-fluid m-auto p-sm-5 bg-light">
      <img alt="Spring logo" th:src="@{/images/spring.png}" width="50px" height="50px" class="float-left mx-1">
      <p class="text-secondary m-auto">
         Powered by <a href="https://spring.io/">Spring 5.1.3</a> Proyecto desarrollado en Spring Plugins(STS Spring Tool 4.0.2) + SpringBoot
         2.1, Abel J. Ramos, company GEPP 2018-2019,Inc. Todos los derechos reservados. Terminos de uso y privacidad
      </p>
   </footer>

</body>
</html>