<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>
   <div layout:fragment="content" class="container py-4">
      <div class="card">
         <div class="card-header bg-light text-primary font-weight-bold" th:text="${titulo}"></div>
         <div class="card-body">
            <form th:action="@{/equipos/form}" th:object="${equipo}" method="post">

               <div class="form-group row">
                  <h5 class="mx-3 col-2">
                     <label class="col-form-label">Serie</label>
                  </h5>
                  <div class="col-sm-6">
                     <input th:field="*{serie}" type="text" class="form-control" th:errorclass="'form-control alert-danger'"> <small
                        class="form-text text-danger" th:if="${#fields.hasErrors('serie')}" th:errors="*{serie}"></small>
                  </div>
               </div>

               <div class="form-group row">
                  <h5 class="mx-3 col-2">
                     <label class="col-form-label">Activo Fijo</label>
                  </h5>
                  <div class="col-sm-6">
                     <input th:field="*{afijo}" type="text" class="form-control" th:errorclass="'form-control alert-danger'"> <small
                        class="form-text text-danger" th:if="${#fields.hasErrors('afijo')}" th:errors="*{afijo}"></small>
                  </div>
               </div>

               <div class="form-group row">
                  <h5 class="mx-3 col-2">
                     <label class="col-form-label">Modelo</label>
                  </h5>
                  <div class="col-sm-6">
                     <select class="form-control" th:field="*{modelo}">
                        <option th:each="m : ${listamodelos}" th:value="${m.id}" th:text="${m.nombre}"></option>
                     </select> <small class="form-text text-danger" th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></small>
                  </div>
               </div>

              
               <div class="form-group row">
                  <h5 class="mx-3 col-2">
                     <label class="form-check-label">Habilitado</label>
                  </h5>
                  <div class="col-sm-6">
                  <div class="custom-control custom-radio custom-control-inline">
                     <input type="radio" value="1" id="customRadio1" th:field="*{enabled}" class="custom-control-input"> 
                     <label class="custom-control-label" for="customRadio1">Activo</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                     <input type="radio" value="0" id="customRadio2"  th:field="*{enabled}" class="custom-control-input"> 
                     <label class="custom-control-label" for="customRadio2">Inactivo</label>
                  </div>
                  </div>
               </div>
               <div th:replace="layout/btnform :: botones (obj='/equipos')"></div>
            </form>
         </div>
      </div>
   </div>
</body>
</html>