<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{layout/layout}">
<head>
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>
	<div layout:fragment="content" class="container py-4">
		<div class="card">
			<div class="card-header text-primary font-weight-bold"
				th:text="${titulo}"></div>
			<div class="card-body">
				<div th:replace="layout/btnform :: agregar (obj='/movactivos')"></div>
				<div class="float-right">Show <span sd:page-size-selector="javascript"></span> entries</div>
				<table class="table table-bordered table-hover table-striped">
					<thead class="bg-secondary text-white text-center">
						<tr>
							<th class="col-auto">Id</th>
							<th class="col-auto">Fecha</th>
							<th class="col-auto">Origen</th>
							<th class="col-auto">Destino</th>
							<th class="col-auto">Caracteristica</th>
							<th class="col-auto">Empleado</th>
							<th class="col-auto">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center font-weight-light"
							th:each="movactivo : ${lista}">
							<td th:text="${movactivo.id}" class="text-info font-weight-bold"></td>
							<td th:text="${movactivo.fecha}"></td>
							<td th:text="${movactivo.origen.nombre}"></td>
							<td th:text="${movactivo.destino.nombre}"></td>
							<td th:text="${movactivo.caracteristica}"></td>
							<td
								th:text="${movactivo.empleado.nombre} +' ' +${movactivo.empleado.apellidos}"></td>
							<td class="text-center">
								<div th:replace="layout/btnform :: accionesMov(url='/movactivos',obj=${movactivo})"></div>								
							</td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="layout/paginator-nav :: newpaginator"></nav>
			</div>
		</div>
	</div>
</body>
</html>